.cell {
    display: flex;
    background-color: rgb(72 56 42);
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.2s;
}

.cell:not(first-child) {
    margin-left: 5px;
}

.cell:focus {
    outline: none;
}

.cell.hidden {
    background-color: rgb(68 80 24);
}

.cell.hidden:hover {
    /* TODO: Add bounciness */
    background-color: rgb(111, 76, 79);
}

/* Flagged incorrectly*/
.cell.is-flag:not(.is-mine):not(.hidden) {
    background-color: rgb(175, 62, 77);
}

/* Flagged correctly */
.cell.is-flag.is-mine:not(.hidden) {
    background-color: #4f8755;
}

/* Clicked on a mine*/
.cell.is-mine.is-clicked {
    background-color: rgb(175, 62, 77);
}

/* Empty revealed cells*/
.cell.is-empty:not(.hidden):not(.is-mine):not(.is-flagged) {
    background-color: rgb(72 56 42);
}

.n-1 {
    color: rgb(119 140 63)
}

.n-2 {
    color: rgb(162 169 71)
}

.n-3 {
    color: rgb(191 181 64)
}

.n-4 {
    color: rgb(206 146 40)
}

.n-5 {
    color: rgb(177 89 35);
}

.n-6 {
    color: rgb(177 89 35);
}

.n-7 {
    color: rgb(177 89 35);
}

.n-8 {
    color: rgb(177 89 35);
}